.popup {
	background-image: linear-gradient($darkBlue, transparent);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
    animation: fade-in 300ms ease-in-out;

    &__content {
        margin-left: 2rem;
        margin-right: 2rem;
        width: 100%;
        background-color: $white;
        text-align: center;
        padding: 20px;
        position: relative;
        border-radius: 5px;
        box-shadow: 0px 30px 12px rgba(0,0,0,0.15);

        @include breakpoint-up(large) {
            width: 40rem;
        }
    }

    &__intro {
        text-align: center;
        font-size: 1.2rem;
        color: $darkBlue;
        padding-top: 1rem;
        padding-bottom: 2rem;

        @include breakpoint-up(large) {
            font-size: 1.5rem;
        }
    }

    &__close {

        > span {
            top: 1.5rem;
            right: 1rem;
            display: block;
            position: absolute;
            width: 1rem;
            height: 0.125rem;
            background-color: $darkBlue;
            transform-origin: 3px 1px;
            
            &:first-child {
                top: 1.0675rem;
                transform: rotate(45deg);
            }
        
            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }
}

input {
	display: inline;
	width: 70%;
	padding: 0.5rem;
	border: 1px solid $darkBlue;
    border-radius: 5px;
    margin: 0;

    &::placeholder {
        opacity: 70%;
    }

    @include breakpoint-up(medium) {
        width: 40%;
    }

    
}

.submit {
    margin-top: 2rem;
    width: auto;
    display: inline-block;
    padding: 0.875rem 2.875rem;
    background: linear-gradient(to left, $limeGreen, $brightCyan);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    color: $lightGrayishBlue;
    font-weight: 400;
    font-size: $font-sm;
    transition: opacity 300ms ease-in-out;
       
       &:hover{
           opacity: 0.75;
       }

       @include breakpoint-up(large) {
           margin-top: 0;
       }
}
